@model HomePageViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<style>
    .carousel-inner {
        border-radius: 30px;
        overflow: hidden;
        border: 5px solid #7CFC00; /* YEŞİL ÇERÇEVE */
    }

    .slider-img {
        height: 600px;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    @@media (max-width: 768px) {
        .slider-img

    {
        height: 300px;
    }

    }
</style>



<!-- SLIDER -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var item in Model.Sliders)
        {
            <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "")">
                <img src="/Img/Slider/@item.Resim" class="slider-img" alt="Slider Görseli">
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: #7CFC00;">@item.Baslik</h5>
                    <p>@item.Aciklama</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" style="background-color: #7CFC00;" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" style="background-color: #7CFC00;" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- BAŞLIK -->
<div class="text-center">
    <h1 class="display-4 fw-bold text-uppercase text-center mb-4" style="color: #7CFC00; letter-spacing: 1px; border-bottom: 2px solid #7CFC00; padding-bottom: 10px;">
        Satılık Araçlar
    </h1>
</div>

<!-- ARAÇLAR -->
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <partial name="_PartialAracView" model="@Model.Araclar" />
    </div>
</div>
